<div class="container-fluid d-flex justify-content-center fundoRosaFormulario">
    <div class="row">
        <!--<div id="fundoCadastro" class="d-none d-md-flex col-md-5 justify-content-center align-items-center">
            <img id="logoFundo" class="img-fluid" id="logoNuvem" src="imagens/logoNuvem.png">
        </div>-->
        <div class="d-flex justify-content-center">
            <div class="fundoFormulario col-sm-12 col-md-7">
                <div class="divTituloCadastroP row position-relative">
                    <div class="d-flex justify-content-start">
                        <h2 class="tituloCadastroP py-2 position-absolute start-50 translate-middle-x text-center">Cadastro</h2>
                    </div>
                </div>
                <div class="divTituloCadastro row mx-auto">
                    <h4 class="tituloCadastro d-flex justify-content-center m-auto py-4">Dados Básicos</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <form>
                            <div class="d-flex flex-wrap">
                                <div class="nome mb-2 mx-auto flex-wrap">
                                    <label for="nomeAluno" class="form-label">* Nome:</label>
                                    <input type="text" class="form-control" id="nomeAluno" placeholder="Digite seu nome completo." name="nome" autocomplete="name">
                                </div>
                                    <div class="campinho mx-auto my-2">
                                        <label class="form-label">* Sexo:</label><br>
                                    <div class="formulario px-auto py-1 d-flex justify-content-center flex-wrap">
                                        <div class="align-items-center">
                                            <input type="radio" id="feminino" name="genero" value="feminino">
                                            <label class="me-1" for="feminino">Feminino</label>
                                        </div>
                                        <div class="align-items-center">
                                            <input class="flex-wrap" type="radio" id="masculino" name="genero" value="masculino">
                                            <label for="masculino">Masculino</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label class="mb-2" for="dataNascAluno">* Data de Nascimento:</label><br>
                                    <input class="formulario px-2 py-1" type="date" id="dataNascAluno" name="dataNasc" min="1900-01-01" max="2050-12-31">
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label for="rgAluno" class="form-label">* RG:</label>
                                    <input type="text" class="form-control" id="rgAluno" placeholder="Digite só números." name="rg" OnKeyPress="formatar('###.###.###-##',this)" maxlength="14">
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label for="cpfAluno" class="form-label">* CPF:</label>
                                    <input type="text" class="form-control" id="cpfAluno" placeholder="Digite só números." name="cpf" OnKeyPress="formatar('###.###.###-##',this)" maxlength="14">
                                </div>
                                <div class="campinho mx-auto mt-2 mb-5">
                                    <label for="foneAluno" class="form-label">Telefone:</label>
                                    <input class="formulario px-2 py-1" type="tel" id="foneAluno" name="fone" OnKeyPress="formatar('(##) #####-####',this)" maxlength="15" placeholder="(xx) xxxxx-xxxx" autocomplete="tel">
                                </div>
                                <div class="campinho mx-auto mt-2 mb-5">
                                    <label for="emailAluno" class="form-label">E-mail:</label>
                                    <input class="formulario px-2 py-1" type="email" id="emailAluno" name="email" placeholder="exemplo@gmail.com" autocomplete="email">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="divTituloCadastro row mx-auto">
                    <h4 class="tituloCadastro d-flex justify-content-center m-auto py-4">Endereço</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                            <div class="d-flex flex-wrap">
                                <div class="campinho mx-auto mb-2">
                                    <label for="ruaAluno" class="form-label">* Rua:</label>
                                    <input class="formulario px-2 py-1" type="text" id="ruaAluno" name="rua" placeholder="Ex.: Rua dos Bobos" autocomplete="street-address">
                                </div>
                                <div class="campinho mx-auto mb-2">
                                    <label for="nResidenciaAluno" class="form-label">* Número da residência:</label>
                                    <input class="formulario px-2 py-1" type="text" id="nResidenciaAluno" name="nResidencia" placeholder="Ex.: 123" autocomplete="street-address">
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label for="bairroAluno" class="form-label">* Bairro:</label>
                                    <input class="formulario px-2 py-1" type="text" id="bairroAluno" name="bairro" placeholder="Ex.: Bairro Januária" autocomplete="address-line2">
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label class="form-label" for="cidadeAluno">* Cidade:</label>
                                    <input class="formulario px-2 py-1" type="text" id="cidadeAluno" name="cidade"  placeholder="Ex.: Sombrio" autocomplete="address-level2">
                                </div>
                                <div class="d-flex flex-column w-50">
                                    <div class="mx-1 mx-md-2 my-2">
                                        <label for="ufAluno" class="form-label">* UF:</label>
                                        <input type="text" class="form-control" id="ufAluno" name="uf" placeholder="Ex.: SC" autocomplete="address-level1">
                                    </div>
                                    <div class="mx-1 mx-md-2 mt-2 mb-5">
                                        <label for="cepAluno" class="form-label">* CEP:</label>
                                        <input type="text" class="form-control" id="cepAluno" name="cep" placeholder="Digite só números." autocomplete="postal-code" OnKeyPress="formatar('#####-###',this)" maxlength="9">
                                    </div>
                                </div>
                                <div class="campinho mx-auto mt-2 mb-5">
                                    <label class="form-label" for="obsEnderecoAluno">* Observações:</label>
                                    <textarea class="formulario campinhoAlto px-2 py-1" type="text" id="obsEnderecoAluno" name="obs" placeholder="Ex.: se mora em apartamento, condomínio."></textarea>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="divTituloCadastro row mx-auto">
                    <h4 class="tituloCadastro d-flex justify-content-center m-auto py-4">Dados de Saúde</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                            <div class="d-flex flex-wrap">
                                <div class="campinho mx-auto mb-2">
                                    <label for="alergia" class="form-label">O(A) aluno(a) possui alguma alergia? Se sim, qual?</label>
                                    <textarea class="formulario campinhoAltoAluno px-2 py-1" type="text" id="alergia" name="alergia" placeholder="Ex.: alergia à camarão, nozes, dipirona..."></textarea>
                                </div>
                                <div class="campinho mx-auto mb-2">
                                    <label for="laudo" class="form-label">O(A) aluno(a) possui algum laudo? Se sim, qual é o CID?</label>
                                    <textarea class="formulario campinhoAltoAluno px-2 py-1" type="text" id="laudo" name="laudo" placeholder="Digite aqui o CID do laudo."></textarea>
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label for="restricaoA" class="form-label">O(A) aluno(a) possui alguma restrição alimentar? Se sim, explique.</label>
                                    <textarea class="formulario campinhoAltoAluno px-2 py-1" type="text" id="restricaoA" name="restricaoA" placeholder="Ex.: intolerância à lactose, intolerância ao glúten..."></textarea>
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label class="form-label" for="medicamento">Ele(a) está tomando algum medicamento? Se sim, qual? Como é a recomendação?</label>
                                    <textarea class="formulario campinhoAltoAluno px-2 py-1" type="text" id="medicamento" name="medicamento" placeholder="Digite aqui."></textarea>
                                </div>
                                <div class="obsAluno mx-1 mx-md-2 mt-3 mb-5 w-100 p-2">
                                    <p class="pObs"><strong>OBS.:</strong> caso haja mais de uma alergia, restrição alimentar, medicamento usado ou laudo, por favor escreva.
                                    </p>
                                </div>                          
                            </div>
                    </div>
                </div>
                <div class="divTituloCadastro row mx-auto">
                    <h4 class="tituloCadastro d-flex justify-content-center m-auto py-4">Dados Adicionais</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8 mx-auto d-flex">
                            <div class="d-flex flex-wrap flex-column w-50">
                                <div class="campinhoAluno mx-auto mb-2">
                                    <label for="nacionalidade" class="form-label">Qual é a nacionalidade do(a) aluno(a):</label>
                                    <input class="formulario px-2 py-1" type="text" id="nacionalidade" name="nacionalidade" placeholder="Ex.: brasileiro">
                                </div>
                                <div class="campinhoAluno mx-auto my-2">
                                    <label for="linguaNativa" class="form-label">Língua nativa do(a) aluno(a):</label>
                                    <input class="formulario px-2 py-1" type="text" id="linguaNativa" name="linguaNativa" placeholder="Ex.: português">
                                </div>
                                <div class="campinhoAluno mx-auto my-2">
                                    <label for="linguaEstrangeira" class="form-label">O(A) aluno(a) tem fluência em alguma língua estrangeira?</label>
                                    <input class="formulario px-2 py-1" type="text" id="linguaEstrangeira" name="linguaEstrangeira" placeholder="Ex.: inglês">
                                </div>
                                <div class="campinhoAluno mx-auto mt-2 mb-5">
                                    <label class="form-label" for="escolaAtual">Em qual escola o(a) aluno(a) estuda atualmente?</label>
                                    <input class="formulario px-2 py-1" type="text" id="escolaAtual" name="escolaAtual"  placeholder="Digite aqui.">
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-column w-50"> 
                                <div class="mx-1 mx-md-2 mb-2">
                                    <label class="form-label" for="projetoAluno">Participas de outro projeto da igreja?</label>
                                    <textarea class="formulario px-2 py-1" type="text" id="projetoAluno" name="projetoIgreja" placeholder="Ex.: toc toc, projeto ponte..."></textarea>
                                </div>
                                <div class="campinhoAluno mx-auto mt-2 mb-5">
                                    <label class="form-label" for="obsAluno">Você gostaria de fazer alguma observação importante sobre o(a) aluno(a)?</label>
                                    <textarea class="formulario campinhoAlunoObs px-2 py-1" type="text" id="obsAluno" name="obs" placeholder="Ex.: algum medo, facilidades, dificuldades sociais..."></textarea>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="divTituloCadastro row mx-auto">
                    <h4 class="tituloCadastro d-flex justify-content-center m-auto py-4">Responsáveis</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8 mx-auto d-flex">
                            <div class="bordaResponsavel d-flex flex-wrap flex-column w-50">
                                <div class="campinhoResponsavel mx-auto mb-2 mt-1">
                                    <label for="nomeResponsavel1" class="form-label">* Nome do responsável 1:</label>
                                    <input class="formulario px-2 py-1" type="text" id="nomeResponsavel1" name="resp1" placeholder="Digite o nome completo." autocomplete="name">
                                </div>
                                <div class="campinhoResponsavel mx-auto my-2">
                                    <label for="parentescoResponsavel1" class="form-label">* Parentesco do responsável 1:</label>
                                    <input class="formulario px-2 py-1" type="text" id="parentescoResponsavel1" name="parentescoResp1" placeholder="Digite o nome completo.">
                                </div>
                                <div class="campinhoResponsavel mx-auto my-2">
                                    <label for="foneResponsavel1" class="form-label">* Telefone do responsável 1:</label>
                                    <input class="formulario px-2 py-1" type="tel" id="foneResponsavel1" name="foneResp1"  OnKeyPress="formatar('(##) #####-####',this)" maxlength="15"  placeholder="(xx) xxxxx-xxxx" autocomplete="tel">
                                </div>
                                <div class="campinhoResponsavel mx-auto my-2">
                                    <label for="cpfResponsavel1" class="form-label">*  CPF do responsável 1:</label>
                                    <input class="formulario px-2 py-1" type="text" id="cpfResponsavel1" name="cpfResp1" placeholder="Digite só números" OnKeyPress="formatar('###.###.###-##',this)" maxlength="14">
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-column w-50"> 
                                <div class="campinhoResponsavel mx-auto mb-2 mt-1"> 
                                    <label for="nomeResponsavel2" class="form-label">* Nome do responsável 2:</label>
                                    <input class="formulario px-2 py-1" type="text" id="nomeResponsavel2" name="resp2" placeholder="Digite o nome completo." autocomplete="name">
                                </div>
                                <div class="campinhoResponsavel mx-auto my-2">
                                    <label for="parentescoResponsavel2" class="form-label">* Parentesco do responsável 2:</label>
                                    <input class="formulario px-2 py-1" type="text" id="parentescoResponsavel2" name="parentescoResp2" placeholder="Digite o nome completo.">
                                </div>
                                <div class="campinhoResponsavel mx-auto my-2">
                                    <label for="foneResponsavel2" class="form-label">* Telefone do responsável 2:</label>
                                    <input class="formulario px-2 py-1" type="tel" id="foneResponsavel2" name="foneResp2"  OnKeyPress="formatar('(##) #####-####',this)" maxlength="15"  placeholder="(xx) xxxxx-xxxx" autocomplete="tel">
                                </div>
                                <div class="campinhoResponsavel mx-auto my-2">
                                    <label for="cpfResponsavel2" class="form-label">CPF do responsável 2:</label>
                                    <input class="formulario px-2 py-1" type="text" id="cpfResponsavel2" name="cpfResp2" placeholder="Digite só números" OnKeyPress="formatar('###.###.###-##',this)" maxlength="14">
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-8 mx-auto d-flex flex-column align-items-center px-4">
                        <h6 class="mt-4 mb-3" style="text-align: center;">* TERMO DE AUTORIZAÇÃO PARA USO DE IMAGEM DE MENORES</h6>

                        <p style="text-align: justify;">Pelo presente instrumento, os pais ou responsáveis legais do(a) menor declaram, para os devidos fins, que AUTORIZAM, de forma gratuita, definitiva e irrevogável, o uso da imagem do(a) menor, captada por meio de fotografias, vídeos ou quaisquer outros meios audiovisuais, durante atividades, eventos, projetos ou ações promovidas pela instituição.<br><br>
                        
                        A presente autorização compreende o uso da imagem em qualquer meio de comunicação, incluindo, mas não se limitando a: redes sociais, sites institucionais, materiais impressos, vídeos institucionais e outras mídias relacionadas às atividades da instituição, sempre com a finalidade de divulgação institucional, educativa, informativa ou cultural, sem fins lucrativos.<br><br>
                        
                        Os pais ou responsáveis declaram, ainda, que esta autorização é concedida sem qualquer contraprestação financeira e que o uso da imagem do(a) menor não caracteriza uso indevido, estando de acordo com os princípios legais vigentes, especialmente os previstos no Estatuto da Criança e do Adolescente (ECA).<br><br>
                        
                        Por ser expressão da verdade, firmam o presente Termo de forma livre e espontânea.</p>
                    </div>
                    <div class="d-flex justify-content-center mb-5 mt-2">
                        <div class="form-check me-3">
                            <input type="radio" name="autorizacao" id="autorizacaoS" value="s">
                            <label for="autorizacaoS">Sim, autorizo</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="autorizacao" id="autorizacaoN" value="n">
                            <label for="autorizacaoN">Não autorizo</label>
                        </div>
                    </div>
                </div>
                <div class="divTituloCadastro row mx-auto">
                    <h4 class="tituloCadastro d-flex justify-content-center m-auto py-4">Criar Login</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <div class="text-center mb-4">
                            <i class="fotoPerfil bi bi-person-circle"></i>
                        </div>
                            <div class="d-flex flex-wrap flex-column">
                                <div class="campinhoLogin mx-auto mb-2">
                                    <label for="userAluno" class="form-label">* Nome:</label>
                                    <input class="formulario px-2 py-1" type="text" id="userAluno" name="login" placeholder="Digite seu nome de usuário.">
                                </div>
                                <div class="campinhoLogin mx-auto my-2 position-relative">
                                    <label for="senha" class="form-label">* Senha:</label>
                                    <input class="formulario px-2 py-1" type="password" id="senha" name="senha" placeholder="Digite sua senha.">
                                    <i class="bi bi-eye position-absolute iconOlho" data-input="senha"></i>
                                </div>
                                <div class="campinhoLogin mx-auto my-2 position-relative">
                                    <label for="senha2" class="form-label">* Confirmar senha:</label>
                                    <input class="formulario px-2 py-1" type="password" id="senha2" name="senha2" placeholder="Reescreva sua senha.">
                                    <i class="bi bi-eye position-absolute iconOlho" data-input="senha2"></i>
                                </div>
                            </div>
                              <div class="obsAluno mx-1 mx-md-2 mt-3 mb-5 w-100 p-2">
                                    <p class="pObs justify-content-center"><strong>OBS.:</strong> Todos os campos com * são de preenchimento obrigatório.
                                    </p>
                                </div>   
                            <div class="d-flex my-4">
                                <div class="divButton campinho mx-2 mb-2 d-flex justify-content-center">
                                        <a href="/login.handlebars">
                                            <input class="buttonVoltar" id="btnProximo" type="button" value="Próximo" disabled>
                                        </a>
                                </div>
                                <div class="divButton campinho mx-2 mb-2 d-flex justify-content-center">
                                    <input class="buttonProximo" type="submit" value="Enviar"  >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<script src="/scripts/scriptCadastroCrianca.js"></script>