<div id="turmaBackground" class="container-fluid">
  <header> 
    <nav class="navbar navbar-expand-lg fixed-top px-2" style="z-index: 3; background-color: white;">
      <div class="container-fluid">
        <!--logo-->
        <div class="d-flex justify-content-start ms-4 ms-lg-5">
          <a class="navbar-brand" href="#">
            <i id="iconPerfil" class="bi bi-person-circle"></i>  
          </a>
        </div>

        <!--menu sanduíche-->
        <div class="d-flex me-4">
          <button class="navbar-toggler my-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuPrincipal" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon iconMenuSanduiche"></span>
          </button>
        </div>

        <!--menu principal-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="menuPrincipal" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-5 ms-lg-2">
              <div class="d-flex align-items-center">
                <i class="iconMenu bi bi-house-fill d-lg-none"></i>
                <a class="nav-link ms-3" href="/indexMinistro.handlebars">Início</a>
            </div>
            </li>
            <li class="nav-item me-5">
              <div class="d-flex align-items-center">
                <i class="iconMenu bi bi-people-fill d-lg-none"></i>
                <a class="nav-link active ms-3" aria-current="page" href="/turmasMinistro.handlebars">Turmas</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex align-items-center">
                <i class="iconMenu bi bi-clipboard2-fill d-lg-none"></i>
                <a class="nav-link ms-3" href="/eventosMinistro.handlebars">Eventos</a>
              </div>
               
            </li>
          </ul>
        </div>
    </nav>
  </header>
  
  <!-- Menu flutuante -->
  <div id="menuPerfil">
    <p id="nomePerfil" class="text-center mt-3">{{ministro.nome}}</p>
    
    <a class="navbar-brand text-center" href="#">
      <i class="bi bi-person-circle"></i>  
    </a>

    <!-- Botões do menu de perfil -->
    <div class="text-center mb-3">
      <a href="/editarMinistroPerfil" class="d-block mb-2">Editar perfil</a>
      <a href="/logout-simples" class="d-block">Sair da conta</a>
    </div>

    <!-- Modal de edição de perfil do aluno -->
    <div class="modal fade" id="modalEditarAluno" tabindex="-1" aria-labelledby="modalEditarAlunoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalEditarAlunoLabel">Editar Perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  <article id="turmasArticle" class="container mt-4">
      <div class="row d-flex justify-content-center mt-md-5">
        <div class="col-12 d-flex justify-content-center flex-wrap">
          <p class="justify-content-center text-align-center h3">Em desenvolvimento =)</p>
        </div>
      </div>
  </article>
</div>

        <script src="/scripts/scriptListaTurmasCrianca.js"></script>
