<div class="container-fluid d-flex justify-content-center fundoRosaFormulario">
    <div class="row">
        <!--<div id="fundoCadastro" class="d-none d-md-flex col-md-5 justify-content-center align-items-center">
            <img id="logoFundo" class="img-fluid" id="logoNuvem" src="imagens/logoNuvem.png">
        </div>-->
        <div class="d-flex justify-content-center">
            <div class="fundoFormulario fundoFormularioPoucoCampo col-sm-12 col-md-7">
                <div class="divTituloCadastroP row position-relative">
                    <div class="d-flex justify-content-start">
                        <h2 class="tituloCadastroP py-2 position-absolute start-50 translate-middle-x text-center">Cadastro</h2>
                    </div>
                </div>
                <div class="divTituloCadastro row mx-auto">
                    <h4 class="tituloCadastro d-flex justify-content-center m-auto py-4">Pré-cadastro</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <form>
                            <div class="d-flex flex-wrap">
                                <div class="nome mb-2 mx-auto flex-wrap">
                                    <label for="nomeAluno" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nomeAluno" placeholder="Digite seu nome completo." name="nome" autocomplete="name">
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label class="form-label">Sexo:</label><br>
                                    <div class="formulario px-auto py-1 d-flex justify-content-center flex-wrap">
                                        <div class="align-items-center">
                                            <input type="radio" id="feminino" name="genero" value="2">
                                            <label class="me-1" for="feminino" >Feminino</label>
                                        </div>
                                        <div class="align-items-center">
                                            <input class="flex-wrap" type="radio" id="masculino" name="genero" value="1">
                                            <label for="masculino">Masculino</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label class="mb-2" for="dataNascAluno">Data de Nascimento:</label><br>
                                    <input class="formulario px-2 py-1" type="date" id="dataNascAluno" name="dataNasc" min="1900-01-01" max="2050-12-31">
                                </div>
                                <div class="obsAluno mx-1 mx-md-2 mt-3 mb-2 w-100 p-2 text-center">
                                    <p class="pObs"><strong>REGRA:</strong> O número do RG deve ser igual ao CPF.
                                    </p>
                                </div>   
                                <div class="campinho mx-auto my-2">
                                    <label for="rgAluno" class="form-label">RG:</label>
                                    <input type="text" class="form-control" id="rgAluno" placeholder="Digite só números." name="rg" OnKeyPress="formatar('###.###.###-##',this)" maxlength="14">
                                </div>
                                <div class="campinho mx-auto my-2">
                                    <label for="cpfAluno" class="form-label">CPF:</label>
                                    <input type="text" class="form-control" id="cpfAluno" placeholder="Digite só números." name="cpf" OnKeyPress="formatar('###.###.###-##',this)" maxlength="14">
                                </div>
                                <div class="campinho mx-auto mt-2 mb-5">
                                    <label for="foneAluno" class="form-label">Telefone:</label>
                                    <input class="formulario px-2 py-1" type="tel" id="foneAluno" name="fone" OnKeyPress="formatar('(##) #####-####',this)" maxlength="15" placeholder="(xx) xxxxx-xxxx" autocomplete="tel">
                                </div>
                                <div class="campinho mx-auto mt-2 mb-5">
                                    <label for="emailAluno" class="form-label">E-mail:</label>
                                    <input class="formulario px-2 py-1" type="email" id="emailAluno" name="email" placeholder="exemplo@gmail.com" autocomplete="email">
                                </div>
                            </div>
                            <div class="d-flex my-4">
                                <div class="divButton campinho mx-2 mb-2 d-flex justify-content-center">
                                    <a href="/turmas.handlebars"><input class="buttonVoltar" type="button" value="Voltar"></a>
                                </div>
                                <div class="divButton campinho mx-2 mb-2 d-flex justify-content-center">
                                    <input class="buttonProximo" type="submit" value="Enviar" 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<script src="/scripts/scriptPreCadastro.js"></script>